@font-face {
  font-family: 'Hemera';
  src: url('/fonts/Heme-Pro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-hemera: 'Hemera';
}

body {
  font-family: var(--font-hemera), sans-serif;
}
